$primary-color: rgba(65, 71, 112, 0.85);
$secondary-color: rgba(220, 207, 236, 1);
$text-color: rgba(251, 251, 251, 1);

.container {
  //background-color: $primary-color;
  display: flex;
  flex-direction: column;
  width: 100%;

  .title {
    color: $text-color;
    font-family: AirbnbCereal-Medium;
    font-size: 28pt;
    padding-left: 20px;
    margin-bottom: 5px;
  }

  .chart {
    margin-top: 0;
    height: 200px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-self: center;

    .chart_scatter {
      align-self: center;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      justify-items: center;
    }
  }

  .popup {
    display: none;
    position: fixed;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.25);

    .popup_content {
      background-color: white;
      position: absolute;
    }
  }
}
