$primary-color: rgba(65, 71, 112, 0.85);
$secondary-color: rgba(220, 207, 236, 1);
$text-color: rgba(251, 251, 251, 1);

.form {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  padding-left: 20px;

  .form_sampleSize {
    .form_sampleSize_heading {
      color: $secondary-color;
      font-family: AirbnbCereal;
      font-size: 16pt;
    }

    .form_sampleSize_input {
      background-color: $text-color;
      border-style: none;
      border-radius: 2px;
      height: 20px;
    }
  }

  .form_confidenceLevel {
    .form_confidenceLevel_heading {
      color: $secondary-color;
      font-family: AirbnbCereal;
      font-size: 16pt;
    }

    .form_confidenceLevel_input {
      background-color: $text-color;
      border-style: none;
      border-radius: 2px;
      height: 20px;
    }
  }

  .form_sampleProportion {
    .form_sampleProportion_heading {
      color: $secondary-color;
      font-family: AirbnbCereal;
      font-size: 16pt;
    }

    .form_sampleProportion_input {
      background-color: $text-color;
      border-style: none;
      border-radius: 2px;
      height: 20px;
    }
  }

  .form_submitButton {
    margin-top: 25px;
    border-radius: 5;
    background-color: $secondary-color;
    border-style: none;
    border-radius: 3px;
    height: 30px;
    width: 150px;
    color: $primary-color;
    font-size: 14pt;
    font-family: AirbnbCereal;
  }
}
